# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. scalla
4. java

#### Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. pytorch
4. tensorfiow

| Data Science Tools |
|--------------------|
| Watson Studio      |
| Python IDE         |
| anaconda           |
| R Studio           |

### Below are a few examples of evaluating arithmetic expressions in Python
#### addition
result = 3 + 5

print(result)  # Output: 8
#### sub/mul
result = (10 - 4) * 3

print(result)  # Output: 18

In [22]:
#This a simple arithmetic expression to mutiply then add integers.
x = (3*4)+5
print(x)

17

In [36]:
#This will convert 200 minutes to hours by diving by 60.

# Ask the user to enter minutes
minutes = int(input("Enter minutes: "))

# Convert minutes to hours
hours = minutes / 60

print(f"{minutes} minutes is equal to {hours:.2f} hours.")

Enter minutes:  200

200 minutes is equal to 3.33 hours.

List popular languages for Data Science
- Python
- R
- scalla
- java

## Author
Mohammad Ainul Karim